<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "NotificationApp" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

   
    <%= javascript_include_tag "application" %>
    <script src="https:js.pusher.com/4.0/pusher.min.js"></script>
    <script>

    Pusher.logToConsole = true;

    var pusher = new Pusher('726fa5169466b489c561', {
      encrypted: true
    });

    var channel = pusher.subscribe('notification_channel');
    channel.bind('my-event', function(data){
      alert(data.message);
    });

    </script>

  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Notification", root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Criar nova notificação</h3>
            <ul class="nav nav-list">
              <%= simple_form_for Notification.new, :url => { :action => :create } do |f| %>
               <li><%= f.input :content, autofocus: true %></li>
               <li><%= f.input :notification_type, :as => :radio_buttons %></li>
               <li><%= f.submit %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
       
      </footer>

    </div> <!-- /container -->

  </body>
</html>
